<!-- home.html -->
{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">Welcome to Candidate RMS</h1>
        <hr class="my-4">

        <div class="row">
            <div class="col-md-6 mb-3">
                <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'all_jobs' %}'">All Jobs</button>
            </div>

            <div class="col-md-6 mb-3">
                <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'logs' %}'">Logs</button>
            </div>

            {% if request.user.profile.is_hr %}
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'release_job' %}'">Release New Job</button>
                </div>
            {% endif %}

            {%  if request.user.profile.is_hr or user.profile.is_teamlead or user.profile.is_teamMember or user.profile.is_manager or user.profile.is_onboardingHr %}
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'view_job_applications' %}'">Show All Job Applications</button>
                </div>
            {% endif %}

            {% if user.profile.is_hr or user.profile.is_teamlead or user.profile.is_teamMember %}
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'view_scheduled_meetings' %}'">View Scheduled Meetings</button>
                </div>
            {% endif %}

            {% if user.profile.is_teamlead  %}
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'all_candidate_reviews' %}'">All Candidate Reviews</button>
                </div>
            {% endif %}

            {% if user.profile.is_teamlead or user.profile.is_manager %}
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'accepted_candidates_by_team_lead' %}'">Accepted Candidates by Team Lead</button>
                </div>
            {% endif %}

            {% if user.profile.is_mainHr or user.profile.is_onboardingHr %}
                <div class="col-md-6 mb-3">
                    <button class="btn btn-primary btn-block" onclick="window.location.href='{% url 'accepted_candidates_by_manager' %}'">Accepted Candidates by Manager</button>
                </div>
            {% endif %}

            

        </div>
    </div>
{% endblock %}