<!-- templates/review_meeting.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Review Meeting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Review Meeting for {{ meeting.job_application.f_name }} {{ meeting.job_application.l_name }}</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Review</button>
      </form>
    </div>

 </body>
</html>
